.container{
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}